html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.table {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: rgb(19 247 129);
  overflow: hidden;
}

.road {
  position: absolute;
  background-color: gray;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.car {
  position: absolute;
  /* background-color: brown; */
  z-index: 3;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* background-image: url("/crossRoad/pictures/car_01.png"); */
}

.chicken {
  position: absolute;
  background-color: yellow;
  z-index: 4;
}

.line {
  position: absolute;
  height: 5px;
  width: 100%;
  z-index: 2;

  background: repeating-linear-gradient(to right,
      white 0px,
      white 40px,
      transparent 40px,
      transparent 80px);
}

.river {
  position: absolute;
  background-color: blue;
  z-index: 1;
}

.log {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 2;
}

.chicken {
  position: absolute;
  background-color: yellow;
  z-index: 5;
}

#game-over-screen {
  position: fixed;
  left: 50%;
  top: -300px;
  transform: translateX(-50%);
  width: 320px;
  padding: 30px;
  background: white;
  border: 3px solid black;
  border-radius: 16px;
  text-align: center;
  z-index: 1000;
  transition: top 0.5s ease;
}

#game-over-screen.show {
  top: 120px;
}

#restart-button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}