html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.table {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: aqua;
  overflow: hidden;
}

.road{
  position: absolute;
  background-color: gray;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.car {
  position: absolute;
  background-color: brown;
  z-index: 3;
}

.chicken {
  position: absolute;
  background-color: yellow;
  z-index: 4;
}

.line {
  position: absolute;
  height: 5px;
  width: 100%;
  z-index: 2;

  background: repeating-linear-gradient(
    to right,
    white 0px,
    white 40px,
    transparent 40px,
    transparent 80px
  );
}