@keyframes bgMove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -512px 0;
    }
}

#table {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("../pictures/body.png") repeat-x;
    background-size: auto 100%;
    animation: bgMove 10s linear infinite;
}

.bird {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("../pictures/bird.svg");
    left: 100px;
    background-size: contain;
    transition: top 0.3s ease, transform 0.15s linear;
    z-index: 999;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pipe {
    position: absolute;
    background-image: url("../pictures/pipe.png");
    transition: top 0.2s ease;
    background-position: center;
    background-size: contain;
}

.pipe-cap {
    position: absolute;
    left: 0;
    background-image: url("../pictures/pipe-cap.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.end {
    position: absolute;
    top: -100;
    transition: top 0.5s ease;
    background-color: rgb(7, 165, 7);
    border: 2px solid green;
    font-size: 20px;
    z-index: 1000;
    cursor: pointer;
    user-select: none;
    top: 50%;
    left: 47%;
    padding: 10px;
    margin: 0;
}

.scoreT {
    position: absolute;
    top: 0px;
    z-index: 2000;
}

.score
{
    position: absolute;
    font-size: 30px;
    display: flex;
    left: 0px;
    top: 0px;
    z-index: 2000;
}

.roof
{
    position: absolute;
    top: -100px;
    height: 100px;
    background-color: black;
}