html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 800px;
    background-color: aqua;
}

.mob {
    position: absolute;
    background-color: black;
    z-index: 2;
}

.road {
    position: absolute;
    background-color: gray;
    z-index: 1;
}

.tower {
    position: absolute;
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.tower-card {
    width: 120px;
    height: 50px;
    background: #444;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;

    border: 2px solid white;
    border-radius: 8px;
}

.tower-card:hover {
    background: #666;
}

.tower-card.active {
    background: #2f6fed;
}

.tower-preview {
    opacity: 0.5;
    pointer-events: none;
}

.tower-preview.blocked {
    background: red;
}

.tower-range {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    border-radius: 50%;

    border: 1px solid rgba(74, 144, 226, 0.4);
    background: rgba(74, 144, 226, 0.1);

    pointer-events: none;
    z-index: -1;
}

.projectile {
    position: absolute;
    width: 8px;
    height: 8px;
    background: yellow;
    border-radius: 50%;
    pointer-events: none;
    z-index: 8;
    box-shadow: 0 0 8px yellow;
}