html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 800px;
    background-color: aqua;
}

.mob {
    position: absolute;
    background-color: black;
    z-index: 2;
}

.road {
    position: absolute;
    background-color: gray;
    z-index: 1;
}

.tower {
    position: absolute;
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.tower-card {
    width: 120px;
    height: 50px;
    background: #444;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;

    border: 2px solid white;
    border-radius: 8px;
}

.tower-card:hover {
    background: #666;
}

.tower-card.active {
    background: #2f6fed;
}