.block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    user-select: none;
    padding: 20;
    border-radius: 30;
    background-color: aqua;
    border: 5px solid black;
    cursor: pointer;

}