html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.table {
    height: 100%;
    width: 500px;
    background-color: aqua;
    position: relative;
}

.jumper {
    position: absolute;
    transition: top 0.5s ease;
    z-index: 999;
    background-position: center;
    background-size: 200%;
    
    background-image: url("../pictures/player_jump_down.png");
}

.platform {
    transition: top 0.5s ease;
    position: absolute;
    background-color: black;
    width: 60px;
    height: 10px;
}

.death{
    position: absolute;
    width: 100%;
}