html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.table{
    height: 100%;
    width: 500px;
    background-color: aqua;
    position: relative;
}

.jumper{
    background-color: green;
    position: absolute;
    transition: top 0.5s ease;
}

.platform{
    position: absolute;
    background-color: black;
    width: 60px;
    height: 10px;
}